[*.cs]

# IDE0055: Biçimlendirme Düzeltme
dotnet_diagnostic.IDE0055.severity = none

[*.cs]
#### Adlandırma stilleri ####

# Adlandırma kuralları

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Sembol belirtimleri

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Adlandırma stilleri

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
csharp_using_directive_placement = outside_namespace:silent
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:silent
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_prefer_static_local_function = true:suggestion

[*.vb]
#### Adlandırma stilleri ####

# Adlandırma kuralları

dotnet_naming_rule.interface_should_be_i_ile_başlar.severity = suggestion
dotnet_naming_rule.interface_should_be_i_ile_başlar.symbols = interface
dotnet_naming_rule.interface_should_be_i_ile_başlar.style = i_ile_başlar

dotnet_naming_rule.türler_should_be_baş_harfleri_büyük_olmak_üzere_bitişik.severity = suggestion
dotnet_naming_rule.türler_should_be_baş_harfleri_büyük_olmak_üzere_bitişik.symbols = türler
dotnet_naming_rule.türler_should_be_baş_harfleri_büyük_olmak_üzere_bitişik.style = baş_harfleri_büyük_olmak_üzere_bitişik

dotnet_naming_rule.alan_olmayan_üyeler_should_be_baş_harfleri_büyük_olmak_üzere_bitişik.severity = suggestion
dotnet_naming_rule.alan_olmayan_üyeler_should_be_baş_harfleri_büyük_olmak_üzere_bitişik.symbols = alan_olmayan_üyeler
dotnet_naming_rule.alan_olmayan_üyeler_should_be_baş_harfleri_büyük_olmak_üzere_bitişik.style = baş_harfleri_büyük_olmak_üzere_bitişik

# Sembol belirtimleri

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.türler.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.türler.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.türler.required_modifiers = 

dotnet_naming_symbols.alan_olmayan_üyeler.applicable_kinds = property, event, method
dotnet_naming_symbols.alan_olmayan_üyeler.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.alan_olmayan_üyeler.required_modifiers = 

# Adlandırma stilleri

dotnet_naming_style.i_ile_başlar.required_prefix = I
dotnet_naming_style.i_ile_başlar.required_suffix = 
dotnet_naming_style.i_ile_başlar.word_separator = 
dotnet_naming_style.i_ile_başlar.capitalization = pascal_case

dotnet_naming_style.baş_harfleri_büyük_olmak_üzere_bitişik.required_prefix = 
dotnet_naming_style.baş_harfleri_büyük_olmak_üzere_bitişik.required_suffix = 
dotnet_naming_style.baş_harfleri_büyük_olmak_üzere_bitişik.word_separator = 
dotnet_naming_style.baş_harfleri_büyük_olmak_üzere_bitişik.capitalization = pascal_case

dotnet_naming_style.baş_harfleri_büyük_olmak_üzere_bitişik.required_prefix = 
dotnet_naming_style.baş_harfleri_büyük_olmak_üzere_bitişik.required_suffix = 
dotnet_naming_style.baş_harfleri_büyük_olmak_üzere_bitişik.word_separator = 
dotnet_naming_style.baş_harfleri_büyük_olmak_üzere_bitişik.capitalization = pascal_case

[*.{cs,vb}]
dotnet_style_readonly_field = true:suggestion
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent