@model TheaterClubProject.Models.TblGosteriSalonu

@{
    ViewData["Title"] = "Create";
}
<br />
<br />
<div class="container">
<h1>Yeni Salon Ekle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalonId" class="control-label"></label>
                <input asp-for="SalonId" class="form-control" />
                <span asp-validation-for="SalonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalonAd" class="control-label"></label>
                <input asp-for="SalonAd" class="form-control" />
                <span asp-validation-for="SalonAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalonAdres" class="control-label"></label>
                <input asp-for="SalonAdres" class="form-control" />
                <span asp-validation-for="SalonAdres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalonTelNo" class="control-label"></label>
                <input asp-for="SalonTelNo" class="form-control" />
                <span asp-validation-for="SalonTelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalonEmail" class="control-label"></label>
                <input asp-for="SalonEmail" class="form-control" />
                <span asp-validation-for="SalonEmail" class="text-danger"></span>
            </div>
            <br />      
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Salon Listesine Geri Dön</a>
</div>
</div>

